@use "../../constants.scss" as color;

.sidemenu {
    .nav-link {
        font-size: 22px;
        color: color.$black;
        max-width: fit-content;
        border-radius: 50px !important;
        margin-left: 30px;
    }

    .nav-link:hover {
        background-color: color.$borderGrey;
        border-radius: 50px !important;
        max-width: fit-content;
        color: #1a1919;
    }
}