@import "~bootstrap/scss/bootstrap";

.App {
    max-width: 100% !important;
    overflow-x: hidden;
}

.dark-background {
    background-color: grey !important;
}

.dark-header-background {
    background-color: rgb(128, 128, 128, 0.8) !important;
}

.white-font {
    color: white;
}